* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e9ecef;
  color: #343a40;
  line-height: 1.6;
  margin-left: 20%;
  margin-right: 20%;
}

header {
  background-color: #00ca6c;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
}

header button:hover {
  background-color: #004494;
  transform: scale(1.05);
}

form {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
  background-color: #218838;
  transform: scale(1.05);
}

p {
  text-align: center;
  color: rgb(0, 81, 134);
}

footer {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #6c757d;
}

img {
  justify-content: center;
  align-items: center; 
}
.transaction-list {
  list-style-type: none; /* remove os marcadores da lista */
  padding: 0; /* remove o padding padrão da lista */
  text-align: center; /* centraliza o texto */
}

.transaction-list li {
  margin: 10px 0; /* adiciona um pouco de espaço entre os itens */
  display: inline-block; /* exibe os itens inline, mas ainda como blocos */
}

button {
  background-color: #4CAF50; /* Cor de fundo (verde) */
  border: none; /* Remove a borda padrão */
  color: white; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove sublinhado */
  display: inline-block; /* Alinha com outros elementos inline */
  font-size: 16px; /* Tamanho da fonte */
  margin: 5px; /* Espaçamento externo */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para pointer ao passar o mouse */
  transition: background-color 0.3s ease; /* Animação suave ao passar o mouse */
}

button:hover {
  background-color: #45a049; /* Muda a cor de fundo ao passar o mouse */
}

button:active {
  background-color: #3e8e41; /* Cor ao clicar */
}

